Package: com.mogui666.xxxtentacionvolumehud
Name: XXXTENTACION VOLUME HUD
Depends:
Version: 1.0
Architecture: iphoneos-arm
Description: Rest easy, vro. Apply with Anemone
Depiction: https://noahlittle.github.io/depic/xxxvolhud
Maintainer: mogui666 <njl02@outlook.com>
Author: mogui666 <njl02@outlook.com>
Section: Themes

