Package: com.mogui666.xxxtentacionrevenge
Name: XXXTENTACION REVENGE Zeppelin Logo
Depends:
Version: 1.0
Architecture: iphoneos-arm
Description: Rest easy, vro.
Depiction: https://mogui666.github.io/depic/xxxrevenge
Maintainer: mogui666 <njl02@outlook.com>
Author: mogui666 <njl02@outlook.com>
Section: Themes

